{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block my_style%}
<link rel="stylesheet" href="{% static 'css/my_style.css' %}">
{% endblock my_style %}

{% block title %}
Edit Post - Blog
{% endblock title %}

{% block main_area %}
<section class="container">
  <h1>Edit Post</h1>
  <hr/>
      {% comment %} 파일도 같이 전송하겠다는 의미. {% endcomment %}
<form method="post" enctype="multipart/form-data">{% csrf_token %}

		{{ form | crispy }}

		<div id="div_id_tags_str">
        <label for="id_tags_str">Tags </label>
        <input type="text" name="tags_str" id="id_tags_str" class="textInput form-control" value ="{{tags_str_default}}">
    </div>
    <button type="submit" class="btn btn-primary float-end mt-3">Submit</button>
</form>
</section>
{% endblock main_area %}